<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.menuhw">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SpandLV"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MenuHW">

        <!-- MainActivity Declaration -->
        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- OrderSummaryActivity Declaration -->
        <activity android:name=".OrderSummaryActivity"></activity>

    </application>
</manifest>
